.posts {
    padding: 3rem 0;
    h1 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        color: var(--gray-50);
        transition: color 0.2s;
        &:hover {
            color: var(--pink);
        }
    }

    p {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        color: var(--gray-200);
    }

    a {
        display: block;
        margin-bottom: 3rem;
    }
    
    button {
        padding: 5px 0;
        background: none;
        border: none;
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--pink);
        transition: filter 0.2s;
        &:hover {
            filter: brightness(0.8);
        }
    }

}
